<div class="proposition">
    <ul class="proposition__list">
        <li class="proposition__li">
            <picture>
                <source srcset="./images/proposition-img/webp/proposition-img1.webp 1x, ./images/proposition-img/webp/proposition-img1@2.webp 2x" type="image/webp">
                <source srcset="./images/proposition-img/webp/proposition-img1.jpg 1x, ./images/proposition-img/webp/proposition-img1@2.jpg 2x" type="image/webp">
            </picture>
            <h2 class="proposition__tit">ВЕБ-САЙТЫ</h2>
            <p class="proposition__txt">Мир никогда не будет прежним после того как увидит ваш сайт!</p>
            <button type="button" class="proposition__btn">ЗАКАЗАТЬ</button>
        </li>
        <li class="proposition__li">
            <picture>
                <source srcset="./images/proposition-img/webp/proposition-img2.webp 1x, ./images/proposition-img/webp/proposition-img2@2.webp 2x" type="image/webp">
                <source srcset="./images/proposition-img/webp/proposition-img2.jpg 1x, ./images/proposition-img/webp/proposition-img2@2.jpg 2x" type="image/webp">
            </picture>
            <h2 class="proposition__tit">ПРИЛОЖЕНИЯ</h2>
            <p class="position__txt">Покорите топ-10 приложений в AppStore и Google Play</p>
            <button type="button" class="prorosition__btn">ЗАКАЗАТЬ</button>
        </li>
        <li class="proposition__li">
            <picture>
                <source srcset="./images/proposition-img/webp/proposition-img3.webp 1x, ./images/proposition-img/webp/proposition-img3@2.webp 2x" type="image/webp">
                <source srcset="./images/proposition-img/webp/proposition-img3.jpg 1x, ./images/proposition-img/webp/proposition-img3@2.jpg 2x" type="image/webp">
            </picture>
            <h2 class="position__tit">ПРЕЗИНТАЦИИ</h2>
            <p class="position__txt">Вы даже не подозреваете, насколько вы изумительны!</p>
            <button type="button" class="proposition__btn">ЗАКАЗАТЬ</button>
        </li>
    </ul>
</div>